#hero{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    gap: 50px;
}

#hero > div{	
    flex: 1;
}   

#hero-text{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#cta-btns{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    width: 100%;
}

#cta-btns > *{
    flex: 1;
}

#hero-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    min-height: 100%;
}

#explore{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-top: 100px;
    text-align: center;
}

#explore-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

#explore-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    width: 100%;
}

#explore-cards > div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex: 1;
}

#explore-cards img{
    width: 60px;
}

#explore-btns{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 10px;
}

@media screen and (min-width: 767px) and (max-width: 991px){
    /* Tablet */
    #cta-btns{
        flex-direction: column;
    }
}
  
@media screen and (min-width: 50px) and (max-width: 767px){
  
    /* Mobile */
    #hero{
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }

    #hero-content{
        gap: 30px;
    }

    #cta-btns{
        flex-direction: column;
    }

    #explore-cards{
        flex-direction: column;
    }

}