#quiz-presentation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}

#quiz-instructions{
    text-align: left;
    width: 100%;
    max-width: 600px;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px 25px;
    margin: 0 auto;
    margin-bottom: 15px;
    background-color: #fff;
}

#quiz-instructions ul{
    list-style-position: inside;
}

#quiz-instructions ul li{
    margin: 7px 0;
}

#quiz-warning{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch    ;
    gap: 10px;
    width: 100%;
    max-width: 600px;
    border: 1px solid rgb(255, 255, 0);
    border-radius: 10px;
    padding: 10px 25px;
    background-color: rgba(255, 255, 0, 0.096);
}

#quiz-warning #warning-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem !important;
}

#quiz-warning #warning-content{
    text-align: left;
}

#quiz-select{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    margin-top: 50px;
}

#quiz-select-options{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "xct-sci gen-cat gen-cat lth-sci"
                         "lng-lit hmn-sci ecn-bsn spr-sci";
    align-items: stretch;
    justify-content: stretch;
    gap: 15px;
}

#gen-cat{
    grid-area: gen-cat;
}

#xct-sci{
    grid-area: xct-sci;
}

#lng-lit{
    grid-area: lng-lit;
}

#hmn-sci{
    grid-area: hmn-sci;
}

#lth-sci{
    grid-area: lth-sci;
}

#ecn-bsn{
    grid-area: ecn-bsn;
}

#spr-sci{
    grid-area: spr-sci;
}

#quiz-select-options .quiz-select-option{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #fff;
    cursor: pointer;
}

#quiz-select-options .quiz-select-option > *{
    width: 100%;
}

#quiz-select-options .quiz-select-option img{
    width: 100%;
    max-width: 50px;
    height: auto;
    border-radius: 10px;
}
  
.input-slider{
    -webkit-appearance: none;
    appearance: none;
    background: #ebebeb;
    height: 5px;
    width: 100%;
    max-width: 500px;
    padding: 0;
}
  
.input-slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 50px;
    cursor: grab;
}
  
.input-slider::-moz-slider-thumb{
    width: 20px;
    height: 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 50px;
    cursor: grab;
}

/************* For Framer Motion ************/
.quiz-progress-bar-container{
    width: 100%;
    background-color: #ebebeb;
    border-radius: 5px;
    margin-top: 5px;
}
/********************************************/
  
progress{
    appearance: none;
    -webkit-appearance: none;
    height: 10px;
    width: 100%;
}
  
progress::-webkit-progress-bar{
    background-color: #ebebeb;
    border-radius: 50px;
}
  
progress::-webkit-progress-value{
    background-color: black;
    border-radius: 50px;
}

.quiz-progress{
    margin-bottom: 30px;
    width: 100%;
    max-width: 800px;
}

.quiz-progress-content{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.quiz-card-question{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.input-value-box{
    padding: 5px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-value-content{
    font-size: 1.5rem;
}

.quiz-card-question-input{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-card-question-data{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 500px;
}

.quiz-card-question-data-min-text{
    font-size: .7rem;
}

.quiz-card-question{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-around;
    align-items: center;
}

.quiz-card-question-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.quiz-widget{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    width: 100%;
    max-width: 800px;
}

.quiz-content{
    width: 100%;
}

.quiz-controls{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    width: 100%;
}

.main-ctrl{
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 30px;
}

.secondary-ctrl{
    border: 2px solid #000;
    color: #000;
    background: none;
    padding: 8px 28px;
}

.arbitrary-ctrl{
    border: 2px solid #adadad;
    color: #adadad;
    background: none;
    padding: 8px 28px;
}
.arbitrary-ctrl span{
    color: #adadad;
}

.ctrl-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    border-radius: 50px;
    font-size: 1rem;
}

.ctrl-btn-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ctrl-btn-icon img{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 767px) and (max-width: 991px){
  
    /* Tablet */

    #quiz-select-options{
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "gen-cat gen-cat"
                             "xct-sci lth-sci"
                             "lng-lit hmn-sci"
                             "ecn-bsn spr-sci";
        gap: 15px;
    }

    #quiz-select-options .quiz-select-option{
        gap: 10px;
    }

}

@media screen and (min-width: 50px) and (max-width: 767px){
  
    /* Mobile */

    #quiz-warning{
        flex-direction: column;
    }

    #quiz-warning #warning-icon{
        font-size: 2.5rem !important;
    }

    #quiz-warning #warning-content{
        text-align: center;
    }

    #quiz-select-options{
        grid-template-columns: 1fr;
        grid-template-areas: "gen-cat"
                             "xct-sci"
                             "lth-sci"
                             "lng-lit"
                             "hmn-sci"
                             "ecn-bsn"
                             "spr-sci";
        gap: 15px;
    }

    #quiz-select-options .quiz-select-option{
        flex: 1;
        gap: 5px;
    }

    .quiz-progress{
        margin-bottom: 10px;
    }

    .quiz-card-question{
        gap: 20px;
    }

    .quiz-widget{
        gap: 60px;
    }

    .main-ctrl{
        padding: 10px 10px;
    }
    
    .secondary-ctrl{
        padding: 8px 8px;
    }

    .arbitrary-ctrl{
        padding: 8px 8px;
    }

    .ctrl-btn-icon{
        width: 25px;
        height: 25px;
    }

    .ctrl-btn-text{
        display: none;
    }
}